<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Shaker.Service.RecipeBookService">
        <endpoint binding="basicHttpBinding"
                  contract="Recipes.Contract.RecipeBookContract" />
      </service>
    </services>
  </system.serviceModel>
</configuration>